<?xml version="1.0" encoding="utf-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:tizen="http://tizen.org/ns/widgets" id="http://tinchocb.dev/KameHouseTV" version="2.0.0" viewmodes="fullscreen">
    <tizen:application id="tinchocbTV.KameHouseTV" package="tinchocbTV" required_version="3.0"/>
    <name>KameHouse TV</name>
    <icon src="icon.png"/>
    <content src="index.html"/>
    <feature name="http://tizen.org/feature/screen.size.all"/>
    <tizen:privilege name="http://tizen.org/privilege/internet"/>
    <tizen:privilege name="http://tizen.org/privilege/tv.inputdevice"/>
    <tizen:privilege name="http://tizen.org/privilege/filesystem.read"/>
    <tizen:privilege name="http://tizen.org/privilege/filesystem.write"/>
    <feature name="http://tizen.org/feature/input.keyboard"/>
    <access origin="*" subdomains="true"/>
    <tizen:allow-navigation>http://* https://*</tizen:allow-navigation>
    <tizen:profile name="tv"/>
    <tizen:setting screen-orientation="landscape" context-menu="disable" background-support="disable" encryption="disable" screen-shot="disable" pointing-device-support="disable"/>
</widget>
